# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Binaries and build artifacts
/geeson-auth
*.exe
*.exe~
*.dll
*.so
*.dylib

# Log files
*.log
app.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Dependency directories (if any)
/vendor/

# Test files
*_test.go